.footer{
    margin-top: 35px;
    padding-top: 10px;
    background-color: rgba(19, 19, 19, 0.959);
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: row;
  }
  
  .botones {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: rgb(250, 235, 215);
  }
  
  .footer-logo img {
    margin-top: 15px;
    background-color: rgb(250, 235, 215);
    border-radius: 3rem;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
  }
  
  .contacto {
    font-size: 18px;
  }
  
  .icons {
    position:relative;
    display:flex;
    flex-direction:column;
    width:auto;
  }
  
  .img-pagos{
    position:relative;
    display:flex;
    width:auto;
    flex-direction: column;
  }
  
  .img-pagos img {
    width: 50px;
    height:40px;
  }
  
  .redes h4 {
    margin-bottom: 8px;
  }
  
  .redes i{
    padding-top: 4px;
    margin-bottom: 5px;
    color: var(--color-before-h2-about);
  }
  
  .redes i:hover {
    color: var(--color-parrafos);
    background-color: #ffbb00;
    border-radius: 25px;
    height: 25px;
    width: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .icons .text {
    margin-bottom:15px;
   
  }
  
  .map{
    color:rgb(250, 235, 215);
    border: 1px solid green;
    height:160px;
  }
  
  .text {
    font-size: 18px;
    position:relative;
    display:flex;
    text-align:center;
    align-items: center;
    letter-spacing: 0.3px;
  }
  
  .map {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .api {
    border: 1px solid green;
    margin: 1px 1px;
    width:150px;
    height: 100px;
  }