*{
    font-family: 'Cormorant', serif;
}

:root{
    --color-hover-nav:#ffbb00;
}

.logo{
    margin-left: 100px;
}

.logo-principal{
    padding-left: 0.5rem;
}
.logotipo{
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(250, 235, 215);
    border-radius: 3rem;
}

/*
.logo img{
    height: 100px;
    width: 200px;
    position: relative;
    block-size: fit-content;
}
*/

.navbar-toggler {
    background-color: #ffbb00;
}
.nav-menu__items{
    position: relative;
    justify-content: flex-end;
}

.nav-item a{
    color: #fffffe;
    border-radius: 10px;
}
.nav-item{
    font-size: 19px;
    margin-right: 25px;
    text-decoration: none;
    --clippy:polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav-item:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav-item a:hover{
    color: var(--color-hover-nav);
}

.nav-item::after{
    content: "";
    display: block;
    background: var(--color-hover-nav);
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.navbar{
    z-index: 3;
    width: 100%;
    background-color: rgb(26 28 28) !important;
}

.navlogo {
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.titulo {
    color:#ffbb00cc;
    margin-left: 530px;
    position: relative;
    display: flex;
    width: 650px;
    text-align: center;
    font-size: 45px;
  }
.titulo p {
    color: #ffbb00cc;
}
@media (max-width: 700px){
    .navbar-nav{
        align-items: center;
        margin-right: 0;
    }
    .nav-item{
        margin-top: 20px;
    }
    .logo{
        margin-left: 50px;
    }
}

@media (max-width: 1000px){
    .navbar-nav{
        align-items: center;
        margin-right: 0;
    }
    .nav-item{
        margin-top: 20px;
    }
    .logo{
        margin-left: 50px;
    }
}