:root{
    --color-parrafos:#ffffff;
}

.carousel-index-top .carousel-item{
    height: 90vh;
    min-height: 300px;
}


.carousel-habitaciones{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;    
}

.carousel-index-top .carousel-caption p {
    font-size:22px;
}
.habitacion-item{
    height: 90vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color:#cf9800;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color: var(--color-parrafos);
}

.habs .carousel-caption{
    background-color: #00000094;
    border-radius: 20px;
}

.habs .carousel-caption a{
    margin-top: 25px;
}
.carousel p {
    color:#dadada;
    font-size:20px;
}
/* Efecto de glass sobre el carousel */
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.habs {
    border-radius: 20px;
}
.w-100{
    height: 100vh;
}

/* responcive css */

@media screen and (max-width: 768px) and (max-width: 991px) {
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}