/*
body{
    background-color: rgb(34, 34, 34);
}
header{
    background-color: rgb(34, 34, 34);
}*/
.logo-principal{
    padding-left: 0.5rem;
}
.logotipo{
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(250, 235, 215);
    border-radius: 3rem;
}
.botones{
    padding-right: 0.5rem;
    
}
/*Efecto de resaltado en textos*/
.negrita{
    font-weight: 600;
    color: #313131;
}

.about-text h2, p{
    color: #535353;
}
/*Servicios*/
.services{
    margin-top: 30px;
    background-color: #dadada;
}

.card-servicios{
    margin-bottom: 30px;
}
.services .card-body i{
    font-size: 60px;
}
.titulo-ser h2{
    margin-top: -10px;
}
.card p{
    color: #a09f9f;
}

.btn-btn-warning {
    color:rgb(253, 206, 118)
}
.habitaciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.habitacion1, .habitacion2, .habitacion3, .habitacion4 {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer{
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.logo img{
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    
}
.botones-footer{
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    column-gap: 10rem;
    align-items: center;
    color: rgb(250, 235, 215);
}
.botones-footer h3{
    color: rgb(250, 235, 215);
    font-size: 1rem;
    padding-left: 1rem;
}
.mediosDePago{
    height: 8rem;
    background-color: rgb(250, 235, 215);
    border-radius: 1rem;
}