.imagenes-descripcion img{
    position: relative;
    top: 9%;
    width: 300px;
    height: 300px;
}

.imagenes{
    display: flex;
    margin-bottom: 50px;
}

.img-fluid{
    border-radius:10px;
}
@media screen and (max-width: 768px) {
    .imagenes{
        display: flex;
        justify-content: center;
    }
    .about-text{
        margin-top: 30px;
        margin-bottom: 50px;
    }
}