.fondo-top{
    position: relative;
    background-image: url("../../img/hotel-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.contacto-h2{
    position: absolute;;
    color: #ffff;
    top: 260px;
    font-size: 60px;
    left: 100px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
}
/*informacion de contacto*/
.inf__contacto{
	display: flex;
	margin-top: 10px;
    margin-bottom: 20px;
}

.dato__contacto{
	width: 400px;
	margin-left: 70px;
	font-size: 20px;
}
.dato__contacto a{
	color: #000;
}
.barra{
	background-color: black;
	height: 3px;
	display: flex;
	margin-right: 20px;
}

.dato__contacto li{
	margin-top: 5px;
	font-size: 10px;
}
.dato__contacto i{
	margin: 10px;
}
/*mapas*/
.ubicacion__mapa{
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 20px;
	width: 70%;
}
.ubicacion__mapa iframe{
	display: inline;
	width: 100%;
	height: 400px;
}

/*form contacto*/
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding:52px 0;
}

.enviar__correo{
	margin-top: 50px;
	background: #686868;
    height: auto;
}

.titulo-correo, .subtitulo-correo{
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
    text-shadow: 1px 1px 2px rgb(8, 8, 8);
}

.subtitulo-correo{
    font-size: 20px;
    margin-bottom: 64px;
}

form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;

}

input{
    width:100%;
    padding: 13px;
    color:#5c5c5c;
    font-family: 'open sans';
    background: #fdfdfd;
    margin-bottom: 16px;
    border-top: 5px solid rgba(37,37,33,.7);
}


textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    background: #212529;
    padding: 13px;
    border: none;
    color:#fff;
    font-family: 'open sans';
    margin-bottom: 16px;
    font-size: 30px;
}


.enviar{
    color: #6b6b6b;
    height: 40px;
    width: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
}