* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant", serif;
  box-sizing: border-box;
}

:root{
  --color-before-h2-about:#ffbb00;
  --color-text-botones: #363636;
  --color-parrafos:#a09f9f;
}

.logotipo {
  background-color: rgb(250, 235, 215);
  border-radius:3rem;
  position: relative;
  display:flex;
  width:60px;
  height:60px;
}

.header {
  position: relative;
  display: flex;
  width:100%;
  height:90px;
  padding: 15px 60px;
  background-color: #222527;
  justify-content: space-between;
  align-items: center;
  color:#f4f4f4;
}

.buttons {
  position:relative;
  display:flex;
  flex-direction: row;
}

.hd {
  margin-left: 30px;
  font-size: 19px;
  text-decoration: none;
  color: #fffffe;
}

.hd:hover {
  transition: 0.4s;
  color: #ffbb00;
}

body {
  background-image: url(hotel-4.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-wrap: wrap;
}

.titulo {
  color:#ffbb00cc;
  margin-left: 340px;
  position: relative;
  display: flex;
  width: 650px;
  text-align: center;
  font-size: 45px;
}

.integrantes {
  margin-top: 105px;
  height: 55px;
  position: absolute;
  display: flex;
  width: 35%;
  background-color: #222527d3;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.integrantes h2 {
  font-size: 28px;
  color: #fffffe;
}

#carouselExampleFade {
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: center;
  height: 700px;
  border: 4px solid #d4d4d4b9;
  border-radius: 20px;
}

.row {
  height: 700px;
}

.col-5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-7 {
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center; 
}

.descripcion {
  padding:20px 40px;
  width: 600px;
  background-color: #272727ea;
  border-radius: 20px;
  color:#ffbb00cc;
  position:relative;
  display:flex;
  flex-direction: column;
  height:550px;
  border-right: 6px solid #d4d4d46b;
  border-bottom: 6px solid #d4d4d46b;
}

.descripcion p {
  color: #d4d4d4;
  font-size: 21px;
  margin-bottom: 15px;
}

.foto1 {
  background-image: url(foto-1.png);
  background-size: cover;
  position: relative; 
  display: flex;
  margin-left: 65px;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 500px;
  border: 3px solid #f4f4f4;
  border-radius: 100%;
}

.foto2 {
  background-image: url(foto-2.png);
  background-size: cover;
  position: relative; 
  display: flex;
  margin-left: 65px;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 500px;
  border: 3px solid #f4f4f4;
  border-radius: 100%;
}

.foto3 {
  background-image: url(foto-3.png);
  background-size: cover;
  position: relative; 
  display: flex;
  margin-left: 65px;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 500px;
  border: 3px solid #f4f4f4;
  border-radius: 100%;
}

.footer{
  margin-top: 35px;
  padding-top: 10px;
  background-color: rgba(19, 19, 19, 0.959);
  position: relative;
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
}

.botones {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  color: rgb(250, 235, 215);
}

.copyright {
  padding-top:10px;
  background-color: #000000;
  color:#dfdfdf;
  text-align: center;
}

.footer-logo img {
  margin-top: 15px;
  background-color: rgb(250, 235, 215);
  border-radius: 3rem;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.contacto {
  font-size: 18px;
}

.icons {
  position:relative;
  display:flex;
  flex-direction:column;
  width:auto;
}

.img-pagos{
  position:relative;
  display:flex;
  width:auto;
  flex-direction: column;
}

.img-pagos img {
  width: 50px;
  height:40px;
}

.redes h4 {
  margin-bottom: 8px;
}

.redes i{
  padding-top: 4px;
  margin-bottom: 5px;
  color: var(--color-before-h2-about);
}

.redes i:hover {
  color: var(--color-parrafos);
  background-color: #ffbb00;
  border-radius: 25px;
  height: 25px;
  width: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icons .text {
  margin-bottom:15px;
 
}

.map{
  color:rgb(250, 235, 215);
  height:160px;
  width:400px;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 18px;
  position:relative;
  display:flex;
  text-align:center;
  align-items: center;
  letter-spacing: 0.3px;
}

#api {
  border-radius: 15px;
  width:100%;
  height: 100%;
}

.mapa {
  position:relative;
  display:flex;
  width:100%;
  height:100%;
}